

<form class="example-form">
  <mat-form-field class="example-full-width">
    <input type="text"
           placeholder="City"
           matInput
           [(ngModel)]="selectedPoint"
           (input)="filterPoints()"
           [matAutocomplete]="auto"
           name="city">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let point of filteredPoints"
                   [value]="point.cityName"
                  (onSelectionChange)="getIataCodeFromSelectedPoint($event, point)">
        {{ point.typeOfPoint === 'city' ? point.cityName+'('+point.countryIataCode+')'  : point.pointName }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
