

<form class="example-form">
  <mat-form-field class="example-full-width">
    <input type="text"
           placeholder="City"
           matInput
           [(ngModel)]="selectedCity"
           (input)="filterCities()"
           [matAutocomplete]="auto1"
           name="city">
    <mat-autocomplete #auto1="matAutocomplete">
      <mat-option *ngFor="let city of filteredCities" [value]="city">
        {{city.cityName}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
