<div id="container">
  <div class="topic">
    <p class="first-p">About xfarm.Avia</p>
    <p class="second-p">Search and compare cheap flights from 1000s of airlines, travel agents and travel sites.</p>
  </div>

  <div class="row about">
    <div class="column">
      <p class="tittle">Who are we?</p>
      <p class="info">Cheapflights is your go-to online destination for cheap airfare, flight expertise, and travel tips and inspiration.</p>
      <p class="info">We’re a team of passionate, savvy travellers on a mission to make it easy for you to find the best flight deals.</p>
      <p class="info">As one of the world’s largest flight comparison sites, Cheapflights is the starting point for your travel planning.</p>
    </div>
    <div class="column">
      <p class="tittle">How do we do it?</p>
      <p class="info">Our innovative flight search, curated deals and inspirational content make it simple to find cheap airline tickets.</p>
      <p class="info">We partner with hundreds of providers - big and small - to bring you cheap flights and personalized travel options.</p>
      <p class="info">Our expertise and powerful search technology open up new travel possibilities and help you see the world on a budget.</p>
    </div>
    <div class="column">
      <p class="tittle">Why come to us?</p>
      <p class="info">Millions of travellers rely on us for trusted advice, and the best selection of cheap flights and travel deals.</p>
      <p class="info">Our local experts have been serving up useful tips, destination information and travel inspiration since 1996.</p>
      <p class="info">We combine experience with local knowledge and our global network of partners to create amazing travel moments.</p>
    </div>
  </div>

  <hr/>

  <div class="help">
    <div class="row">
      <p class="column">Here to help:</p>
      <a class="column" href="/">Contact us</a>
      <a class="column" href="https://xfarm.xyz">Main Service</a>
    </div>
  </div>
</div>
