<form class="search-form">
  <mat-form-field class="form-from" appearance="outline" >
    <mat-label>From</mat-label>
    <input type="text"
           matInput
           (input)="filterPointsFrom()"
           [matAutocomplete]="autoFrom"
           [formControl]="departureForm"
           name="city">
    <mat-autocomplete #autoFrom="matAutocomplete" [panelWidth]="300" >
      <mat-option *ngFor="let point of filteredPointsFrom"
                  [value]="point.pointName"
                  (onSelectionChange)="getIataCodeFromSelectedPointFrom($event, point)">

        <span *ngIf="point.typeOfPoint === 'city'">
          <span class="input-material-cityName">{{ point.cityName }}, </span>
          <span class="input-material-cityCode">{{ point.countryCode }}</span>
          <span class="input-material-code">{{ point.pointIataCode }}</span>
        </span>

        <span *ngIf="point.typeOfPoint === 'airport'" >
          <i class="input-material-icon material-icons">
            flight_takeoff
          </i>
          <span class="input-material-pointName">{{ point.pointName | truncateText:[21] }}</span>
          <span class="input-material-code">{{ point.pointIataCode }}</span>
        </span>
      </mat-option>
    </mat-autocomplete>
    <mat-error *ngIf="departureForm.hasError('required')">
      SELECT ORIGIN
    </mat-error>
  </mat-form-field>

  <mat-form-field class="form-to" appearance="outline">
    <mat-label>To</mat-label>
    <input type="text"
           matInput
           (input)="filterPointsTo()"
           [matAutocomplete]="autoTo"
           [formControl]="arrivalForm"
           name="city">
    <mat-autocomplete #autoTo="matAutocomplete" [panelWidth]="300">
      <mat-option *ngFor="let point of filteredPointsTo"
                  [value]="point.pointName"
                  (onSelectionChange)="getIataCodeFromSelectedPointTo($event, point)">

        <span *ngIf="point.typeOfPoint === 'city'">
          <span class="input-material-cityName">{{ point.cityName }}, </span>
          <span class="input-material-cityCode">{{ point.countryCode }}</span>
          <span class="input-material-code">{{ point.pointIataCode }}</span>
        </span>

        <span *ngIf="point.typeOfPoint === 'airport'" >
          <i class="input-material-icon material-icons">
            flight_takeoff
          </i>
          <span class="input-material-pointName">{{ point.pointName | truncateText:[21] }}</span>
          <span class="input-material-code">{{ point.pointIataCode }}</span>
        </span>

      </mat-option>
    </mat-autocomplete>
    <mat-error *ngIf="arrivalForm.hasError('required')">
      SELECT DESTINATION
    </mat-error>
  </mat-form-field>

  <mat-form-field class="calendar" appearance="outline">
    <mat-label>Depart</mat-label>
    <input matInput [min]="minDate" [matDatepicker]="picker" [formControl]="date" [errorStateMatcher]="matcher">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker ></mat-datepicker>
    <mat-error *ngIf="date.hasError('required')">
      PICK A DATE
    </mat-error>
    <mat-error *ngIf="date.hasError('matDatepickerMin')" >
      Minimum date should be {{ minDate | date }}
    </mat-error>
    <mat-error *ngIf="date.hasError('matDatepickerParse')">
      "{{date.getError('matDatepickerParse').text}}"
      IS NOT A VALID DATE!
    </mat-error>
  </mat-form-field>

  <button mat-raised-button class="button">
    <span>Найти билеты</span>
    <i class="material-icons">flight</i>
  </button>
</form>
