.search-form {
  color: rgb(43,48,60); /* black */
  width: 100%;
  text-align:center;
}

.search-form input{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

.search-form .reverse-button {
  margin-left: 10px;
  background-color: white;
}

.search-form .reverse-button:focus {
  outline: none;
}

.search-form .reverse-button i {
  font-size: 1.6em;
  color: rgb(43,48,60); /* black */
}

.search-form .form-to {
  margin-left: 10px;
}

.search-form .calendar {
  margin-left: 10px;
}

.button {
  background-color: rgb(43,48,60); /* black */
  margin-left: 10px;
}

.button i {
  font-size: 1.6em;
  color: white;
}

.button:hover {
  background-color: rgb(43,48,60); /* black */
}

.button:focus {
  outline: none;
}

button i:hover {
  color: rgb(254,211,2); /* yellow */
}


::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: white !important;
    border-radius: 5px;
}


::ng-deep .mat-button {
  font-size: 30px;
  height: 51px;
}

::ng-deep .mat-form-field-label {
  color: rgb(80,87,92); /* gray */
}

::ng-deep .mat-focused .mat-form-field-label {
  color: rgb(74,152,97) !important; /* green */
}

::ng-deep .mat-form-field-appearance-outline .mat-datepicker-toggle {
  color: rgb(43,48,60); /* black */
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-thick {
    color: #E9E3E5 !important; /* light gray */
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: rgb(74,152,97) !important; /* green */
}

::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid .mat-form-field-outline {
    color: rgb(231,79,19) !important; /* red */
}

::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid .mat-form-field-label {
    color: rgb(231,79,19) !important; /* red */
}

mat-error {
  text-align: center;
  font-weight: 500;
  font-size: 13px;
}

.input-material-cityName {
  font-weight: 500;
  font-size: 90%;
}

.input-material-cityCode {
  color: #BFBFBC;
  font-size: 90%;
}

.input-material-icon {
  color: #BFBFBC;
  vertical-align: -5px;
  margin-left: 5px;
}

.input-material-pointName {
  margin-left: 10px;
  font-weight: 500;
  font-size: 90%;
}

.input-material-code {
  color: #BFBFBC;
  float: right;
  font-size: 80%;
  font-weight: 500;
}

@media (max-width: 505px) {

.search-form .form-from {
  width: 80%;
}
.search-form .reverse-button {
  margin-left: 0px;
  background-color: rgb(43,48,60); /* black */
  width: 80%;
}
.search-form .reverse-button i {
  font-size: 1.6em;
  color: white;
}

.search-form .form-to {
  margin-left: 0px;
  width: 80%;
  margin-top: 15px;
}

.search-form .calendar {
  margin-left: 0px;
  width: 80%;
}

.button {
  margin-left: 0px;
  width: 80%;
}

}

