<form class="search-form">
  <mat-form-field class="example-full-width">
    <input type="text"
           placeholder="From"
           matInput
           [(ngModel)]="selectedPoint"
           (input)="filterPoints()"
           [matAutocomplete]="auto"
           name="city">
    <mat-autocomplete #auto="matAutocomplete" class="matAutocomplete" [panelWidth]="300">
      <mat-option *ngFor="let point of filteredPoints"
                  [value]="point.pointName"
                  (onSelectionChange)="getIataCodeFromSelectedPoint($event, point)">

        <span *ngIf="point.typeOfPoint === 'city'">
          <span class="input-material-cityName">{{ point.cityName }}, </span>
          <span class="input-material-cityCode">{{ point.countryCode }}</span>
          <span class="input-material-code">{{ point.pointIataCode }}</span>
        </span>

        <span *ngIf="point.typeOfPoint === 'airport'" >
          <i class="input-material-icon material-icons">
            flight_takeoff
          </i>
          <span class="input-material-pointName">{{ point.pointName | truncateText:[21] }}</span>
          <span class="input-material-code">{{ point.pointIataCode }}</span>
        </span>

      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
