app-navbar {
  width: 100%;
  position: fixed;
  z-index:1;
}

.search-content {
  width: 100%;
  height: auto;
  background-color:  rgb(254,211,2); /* yellow */
  color: rgb(43,48,60); /* black */
  font-family: 'Montserrat', sans-serif;
}

.search-content #title {
  padding-top: 170px;
}

.search-content #title h1 {
    font-size: 40px;
    margin-left: 20%;
}

.search-content #title h3 {
    font-size: 20px;
    margin-left: 20%;
}

.search-content #app-search-from-to {
  margin-top: 50px;
  width: 100%;
  padding-bottom: 75px;
}

app-map {
  width: 100%;
  height: auto;
}

app-proposals {
  width: 100%;
  height: auto;
}

app-about {
  width: 100%;
  height: auto;
}





@media (max-width: 835px) {
  .search-content #title {
    padding-top: 130px;
    text-align: center;
  }

  .search-content #title h1 {
      margin-left: 0;
  }

  .search-content #title h3 {
      margin-left: 0;
  }
}

@media (max-width: 607px) {
  .search-content #title h1 {
      margin-left: 0;
      font-size: 30px;
      font-weight: 500;
  }
  .search-content #title h3 {
      margin-left: 0;
  }
}



