app-navbar {
  width: 100%;
  position: fixed;
  background-color: orange;
}

.search-content {
  width: 100%;
  height: 100%;
  text-align: center;
}

.search-content #title {
    padding-top: 10%;
}

.search-content #title h1 {
    font-size: 40px;
}

.search-content #title h3 {
    font-size: 20px;
}

.search-content #app-search-from-to {
  margin-top: 3%;
  width: 80%;
  display: inline-block;
  border: 1px solid blue;
}

.info-content {
  width: 100%;
  height: 100%;
  background-color: blue;
}


@media (max-height: 600px) {
  .search-content {
    height: 150%;
  }
}

