<div id="container">

  <div class="proposal">
    <span class="material-icons">
        pin_drop
    </span>
    <h1>
      Popular Destinations
    </h1>

    <p>Find the best price on flights to our most popular destinations.</p>

    <div class="row">
      <div class="column"
           *ngFor="let city of popularDestinations">
        <a class="row" href="/">{{ city.cityName }}</a>
      </div>
    </div>
  </div>


  <div class="proposal">
    <span class="material-icons">
        language
    </span>
    <h1>
      Popular routes
    </h1>

    <p>Check out busiest international flight routes.</p>

    <div class="row">
      <div class="column_routes"
           *ngFor="let route of popularRoutes">
        <a class="row" href="/">{{ route.routeName }}</a>
      </div>
    </div>
  </div>

</div>
